<div class="modal-dialog modal-lg">
  <!--<div class="modal-content">-->
  <!--  <div class="monthly_confirmation_form">-->
  <!--    <div id="black">-->

          <%= form_with model: @user, local: true, method: :patch do |f| %>
          <!--<h1>< %= @user.name %>からの１ヶ月分勤怠申請</h1>-->

           <% @attendances.each do |day| %>
              <table class="table table-bordered table-condensed table-hover" id="table-attendances">
                <thead>
                  <tr>
                    <th colspan="3">月</th>
                    <th colspan="3">指示者確認㊞</th>
                    <th colspan="3">変更</th>
                    <th colspan="3">勤怠を確認する</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!--月-->
                    <td colspan="3"><%= l(day.worked_on, format: "%m") %>月</td>
                    <!--<td colspan="3">< %= I18n.l(@mon, format: "%B") %>月</td>-->
                    <!--指示者確認（印)-->
                    <td colspan = "3"><%= f.select :confirmation_status, [["なし", 0],["申請中", 1],["承認", 2],["否認",3]] %></td>
                    <!--変更のチェックボックス、チェックがないと変更しても反映されない-->
                  　<td colspan = "3"><%= check_box_tag :overday_check %></td>
                    <!--勤怠を確認するボタン-->
                    <td colspan = "3"><%= link_to "確認", class: "btn btn-sm btn-primary" %></td>
                    <!--<td colspan = "3">< %= link_to "確認", user_path(a.user_id), :style=>"color:white;", class: "btn btn-sm btn-primary" %></td>-->
                  </tr>
                </tbody>
              </table>
            <% end %>
            <%= f.submit "変更を送信する", class: "btn btn-primary btn-sm" %>
          <% end %>
        <!--< % end %>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
</div>
