<%= form_with(model: @base, local: true) do |f| %>
  <%= f.label :base_number, "拠点番号", class: "label-signup" %>
  <%= f.text_field :base_number, class: "form-control" %>

  <%= f.label :base_name, "拠点名", class: "label-signup" %>
  <%= f.text_field :base_name, class: "form-control" %>
  
  <%= f.label :work_type, "拠点種類", class: "label-signup" %>
  <p><%= f.select :work_type, [["選択してください", 0], ["出勤", 1], ["退勤", 2]], class: "form-control" %></p>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-signup" %>
<% end %>